[Desktop Entry]
Type=Application
Version=1.1
Name=aUniSync
GenericName=File and Folder Synchroniser
Categories=Application;GTK;Internet;Net
Comment=Automatically synchronize changed files and folders with Unison
Exec=aunisync
TryExec=aunisync
StartupNotify=false
Icon=unison-gtk
NoDisplay=false
Terminal=false
Keywords=unison;synchronizing;sync;synchronizer;replication;replicator;dropbox-like;inotify;system tray;status icon;
