[Desktop Entry]
Type=Application
Version=1.1
Name=aunisync
GenericName=Automatic File and Folder Synchroniser
Categories=Application;GTK;Internet;Net
Comment=Automatically synchronize files and folders in your Unison profiles whenever you modify them
Exec=aunisync
TryExec=aunisync
StartupNotify=false
Icon=unison-gtk
NoDisplay=false
Terminal=false
Keywords=unison;synchronizing;sync;synchronizer;replication;replicator;dropbox-like;inotify;system tray;status icon;
